/* @import "tailwindcss";

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #0c001a;
  color: white;
  font-family: "Fira Code", monospace;
  overflow-x: hidden;
}